@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Cinzel Decorative", cursive;
}
body {
  background: radial-gradient(ellipse at bottom, #0e1a40 0%, #0e1a40 100%);
  color: white;
}

/*---------------click button-------------*/
.link {
  position: absolute;
  top: 50%;
  left: 48%;
}

.button {
  text-decoration: none;
  text-align: center;

  color: white;
  font-size: 20px;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*--------------template styling-------------*/
#studentTemplate {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px 20px;
  margin-top: 2em;
  padding-bottom: 1rem;
  text-align: center;
}
#studentlist {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px 20px;
  margin-top: 2em;
  padding-bottom: 1rem;
  text-align: center;
}
.template_container {
  border: 10px solid rgba(255, 255, 255, 0.475);
  border-radius: 2em;
  padding: 0.5rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.img_container {
  padding-bottom: 2rem;
}
.posts-wrapper {
  grid-column-start: 2;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: 5% auto 5%;
  color: white;
}

.img_container img {
  width: 60%;
}
.img_container img:hover {
  opacity: 50%;
}

.firstName,
.middleName,
.lastName {
  font-size: 1.2em;
}
.house {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.number,
.number2 {
  text-align: center;
  margin-left: 1em;
  margin-top: 2em;
  margin-right: 1em;
}
/*--------------header----------------*/
.header {
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 40px;
  text-align: center;
  padding-top: 2rem;
  color: white;
}
/*---------------modal----------------*/
.modal-bg {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal_img_container img {
  height: 10em;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  padding: 1em 3em 3em 1em;
  width: 30rem;
  height: 30rem;
  margin: auto;
  background-color: var(--primary-color);
  outline: 2px solid;
  outline-offset: -20px;
  outline-color: rgba(255, 255, 255, 7.475);
  color: var(--secondary-color);
  text-align: center;
  font-size: 1em;
  border-radius: 2em;
}

.svg-wrapper {
  display: flex;
  justify-content: center;
  height: 15%;
}
object {
  height: 100%;
}

.hide {
  display: none;
}

.modal[data-house="Gryffindor"] {
  --primary-color: #7f0909;
  --secondary-color: #ffc40084;
}

.modal[data-house="Hufflepuff"] {
  --primary-color: #eee117;
  --secondary-color: #000000;
}

.modal[data-house="Slytherin"] {
  --primary-color: #0d6217;
  --secondary-color: #aaaaaa;
}

.modal[data-house="Ravenclaw"] {
  --primary-color: #000a90;
  --secondary-color: #946b2d;
}
/*---------------filter styling-------*/
#filter_banner {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: left;
  margin-top: 2em;
  margin-left: 0.5em;
}
#filter_banner button {
  background: transparent;
  color: white;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
/*------------sorting styling---------*/
#sorting_banner {
  grid-column-start: 2;
  grid-row-start: 4;
  text-align: right;
  margin-top: 1vw;
  margin-right: 0.5em;
}
#sorting_banner button {
  background: transparent;
  color: white;
  font-size: 1em;
  padding-left: 2vw;
}
/*-----------squad------------------*/
.squad {
  font-size: 16px;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
[data-field="squad"]::after {
  content: "⭐";
}
[data-field="squad"][data-squad="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}
/*-----------prefect------------------*/
.prefect {
  font-size: 16px;
}
[data-field="prefect"]::after {
  content: "🎖";
}

[data-field="prefect"][data-prefect="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}
/*----------prefect modals-------------*/
.dialog {
  display: none;
}

.dialog.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
}

.dialogcontent {
  background-color: #7f0909;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
  outline: 2px solid;
  outline-offset: -20px;
  outline-color: white;
  border-radius: 2em;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
}
.title {
  text-align: center;
  padding-bottom: 1vw;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
  text-align: center;
}

.dialog .closebutton {
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: white;
}

.dialog .closebutton:hover {
  color: black;
}
.removeA,
.removeB,
.remove {
  margin-left: 178px;
  margin-top: 10px;
  align-items: center;
  display: inline;
  background-color: white;
  color: black;
  border: 2px solid #0e1a40;
  border-radius: 2em;
  padding: 0.5vw;
}

.removeA:hover,
.removeB:hover,
remove:hover {
  opacity: 50%;
}

/*----------------expel----------------*/

[data-field="expel"] {
  opacity: 100%;
  text-align: right;
}
[data-field="expel"]:hover {
  opacity: 50%;
  cursor: pointer;
}

/*-------------------grid--------------*/
.grid-whole-page {
  display: grid;
  grid-template-columns: 1% 98% 1%;
  grid-template-rows: auto;
}

/*-------------------search bar--------------*/

#searchWrapper input {
  margin-left: 20px;
}

/*------------------hack the system--------------------------*/

.hack {
  position: relative;
  background-color: #7f0909;
  border: none;
  font-size: 10px;
  color: #ffffff;
  padding: 20px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2em;
  margin-left: 90vw;
  margin-bottom: 3vw;
}

.hack::after {
  content: "";
  background: #0e1a40;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.hack:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
/*---------------mobile---------------*/
@media only screen and (max-width: 700px) {
  .grid-whole-page {
    display: grid;
    grid-template-rows: 0.5% 1% 1% 50% 1%;
  }
  #filter_banner {
    text-align: center;
    margin-left: 0%;
    margin-top: 5em;
  }
  #sorting_banner {
    text-align: center;
    margin-right: 0%;
    margin-top: 1em;
  }
}
object {
  width: 5em;
}
.sortby {
  text-decoration: underline;
}

.sortby[data-sort-direction="asc"]::after {
  content: "↓";
}

.sortby[data-sort-direction="desc"]::after {
  content: "↑";
}
